{% extends "layouts/base_app.html" %}
{% block content %}

<h2 class="text-3xl font-bold mb-6 text-yellow-700">✏️ Editar Aluno: <span class="text-gray-800">{{ aluno.nome }}</span></h2>

<div class="bg-white p-6 rounded-lg shadow-xl max-w-lg mx-auto">
    <form method="POST">
        {{ form.hidden_tag() }} 
        <div class="mb-4">
            <label class="block mb-2 font-bold text-gray-700 text-lg" for="{{ form.nome.id }}">{{ form.nome.label }}<span class="text-red-500">*</span>:</label>
            {{ form.nome(class="border p-3 rounded w-full focus:ring-blue-500 focus:border-blue-500 text-lg", required=True) }}
            {% for error in form.nome.errors %}
                <span class="text-red-500 text-sm block mt-1">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="mb-6">
            <label class="block mb-2 font-bold text-gray-700 text-lg" for="{{ form.matricula.id }}">{{ form.matricula.label }}:</label>
            {{ form.matricula(class="border p-3 rounded w-full focus:ring-blue-500 focus:border-blue-500 text-lg") }}
            {% for error in form.matricula.errors %}
                <span class="text-red-500 text-sm block mt-1">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div class="mb-6">
            <label class="block mb-2 font-bold text-gray-700 text-lg" for="{{ form.turma.id }}">{{ form.turma.label }}:</label>
            {{ form.turma(class="border p-3 rounded w-full focus:ring-blue-500 focus:border-blue-500 text-lg") }}
            {% for error in form.turma.errors %}
                <span class="text-red-500 text-sm block mt-1">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="flex items-center justify-between mt-6">
            {{ form.submit(class="bg-blue-600 text-white p-3 rounded-lg shadow-md hover:bg-blue-700 transition duration-150 font-semibold cursor-pointer") }}
            
            <a href="{{ url_for('alunos.aluno', id_aluno=aluno.id) }}" class="text-gray-600 hover:text-gray-800 border border-gray-300 p-3 rounded-lg transition duration-150">
                Cancelar e Voltar
            </a>
        </div>
    </form>
</div>

{% endblock %}