
<div class="items-center justify-center flex-1 hidden gap-6 md:flex">
    <a href="{% url 'yourlife_social:home' %}" class="p-2 group" title="Voltar para Social"><i class="text-2xl transition fas fa-home text-slate-400 group-hover:text-violet-600"></i></a>
    
    <div class="w-px h-8 mx-2 bg-slate-300/50"></div>
    
    
    <a href="#" class="p-2 group" title="Estratégico"><i class="text-2xl transition fas fa-chart-line text-slate-400 group-hover:text-violet-600"></i></a>
    <a href="#" class="p-2 group" title="Relatórios"><i class="text-2xl transition fas fa-file-contract text-slate-400 group-hover:text-violet-600"></i></a>
</div>
