{% extends "layouts/base_app.html" %}
{% block content %}
<h2 class="text-2xl font-semibold mb-4">Adicionar Aluno - <span class="text-blue-600">{{ turma.nome }}</span></h2>
<form method="POST" class="bg-white p-6 rounded shadow-lg">
    {{ form.hidden_tag() }}
    
    <div class="mb-4">
        <label class="block mb-2 font-bold text-gray-700">{{ form.nome.label }}<span class="text-red-500">*</span>:</label>
        {{ form.nome(class="border p-2 rounded w-full", required=True) }}
        {% for error in form.nome.errors %}<span class="text-red-500 text-sm block">{{ error }}</span>{% endfor %}
    </div>

    <div class="mb-6">
        <label class="block mb-2 font-bold text-gray-700">{{ form.matricula.label }}:</label>
        {{ form.matricula(class="border p-2 rounded w-full") }}
        {% for error in form.matricula.errors %}<span class="text-red-500 text-sm block">{{ error }}</span>{% endfor %}
    </div>

    {{ form.submit(class="bg-green-600 text-white p-2 rounded hover:bg-green-700 transition duration-150") }}
</form>
{% endblock %}