
/* Estilos para o módulo feed - home.css */

/* Ocultar scrollbar mantendo funcionalidade */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
