{% extends 'social/layout/base_useryourlife.html' %}
{% load static %}

{% block extra_css %}
<style>
    /* Ocultar scrollbar mantendo funcionalidade */
    .scrollbar-hide::-webkit-scrollbar { display: none; }
    .scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
</style>
{% endblock %}

{% block content %}
<div class="min-h-screen bg-transparent">
    
    <div class="flex justify-center w-full mx-auto max-w-[1300px]">
        
        <aside class="sticky top-0 hidden h-screen md:flex flex-col items-end w-[80px] lg:w-[250px] shrink-0 pt-6 pb-4 pr-2">
            <div class="w-full h-full">
                {% include 'social/components/home/left_sidebar.html' %}
            </div>
        </aside>

        <main class="flex-1 max-w-[600px] w-full mx-0 md:mx-4 lg:mx-8 min-h-screen pb-20">
            {% include 'social/components/home/stories_bar.html' %}
            {% include 'social/components/home/feed_main.html' %}
        </main>

        <aside class="sticky top-0 hidden h-screen lg:block w-[320px] shrink-0 pt-6 pl-2 overflow-y-auto scrollbar-hide">
            {% include 'social/components/home/right_sidebar.html' %}
        </aside>

    </div>
</div>
{% endblock %}
