
<div class="items-center justify-center flex-1 hidden gap-6 md:flex">
    <a href="{% url 'lumenios:dashboard_professor' %}" class="p-2 group" title="Sala dos Professores">
        <i class="text-2xl transition fas fa-layer-group text-emerald-600 group-hover:scale-110"></i>
    </a>
    
    {% if 'pedagogico:listar_turmas' %}
    <a href="{% url 'pedagogico:listar_turmas' %}" class="p-2 group" title="Minhas Turmas">
        <i class="text-2xl transition fas fa-users text-slate-400 group-hover:text-emerald-600"></i>
    </a>
    {% endif %}
    
    <a href="#" class="p-2 group" title="Planejamento de Aulas">
        <i class="text-2xl transition fas fa-calendar-alt text-slate-400 group-hover:text-emerald-600"></i>
    </a>
    
    <div class="w-px h-8 mx-2 bg-slate-300/50"></div>
    
    <a href="{% url 'yourlife_social:home' %}" class="p-2 group" title="Ir para Rede Social (YourLife)">
        <i class="text-2xl transition fas fa-heartbeat text-slate-400 group-hover:text-pink-500"></i>
    </a>
    
    <a href="#" class="p-2 group" title="Criar Atividade">
        <i class="text-2xl transition fas fa-plus-circle text-slate-400 group-hover:text-emerald-600"></i>
    </a>
    
    <button @click="$store.nav.toggle('zios')" class="p-2 group" title="Assistente Pedagógico IA">
        <i class="text-2xl text-purple-400 transition fas fa-brain group-hover:text-purple-600 animate-pulse"></i>
    </button>
</div>
