
<div class="items-center justify-center flex-1 hidden gap-6 md:flex">
    <a href="{% url 'yourlife_social:home' %}" class="p-2 group" title="Feed"><i class="text-2xl transition fas fa-home text-violet-600"></i></a>
    <a href="{% url 'yourlife_social:reels' %}" class="p-2 group" title="Reels"><i class="text-2xl transition fas fa-film text-slate-400 group-hover:text-violet-600"></i></a>
    <a href="{% url 'yourlife_social:explore' %}" class="p-2 group" title="Explorar"><i class="text-2xl transition far fa-compass text-slate-400 group-hover:text-violet-600"></i></a>
    
    <div class="w-px h-8 mx-2 bg-slate-300/50"></div>
    
    
    <a href="{% url 'humanex_rh:dashboard' %}" class="p-2 group" title="Painel RH"><i class="text-2xl transition fas fa-id-card text-slate-400 group-hover:text-violet-600"></i></a>
    <a href="{% url 'humanex_rh:funcionario_list' %}" class="p-2 group" title="Funcionários"><i class="text-2xl transition fas fa-users text-slate-400 group-hover:text-violet-600"></i></a>
    
</div>
